In [11]:
from pyspark import SparkContext
from pyspark.sql import SparkSession 

sc = SparkContext.getOrCreate()
spark = SparkSession(sc)

In [12]:
#using some data from file from https://gist.github.com/marktyers/678711152b8dd33f6346
df = spark.read.json("people.json")
df.show()

+----+----+--------------------+---------------+
| age|born|                fame|           name|
+----+----+--------------------+---------------+
|null|null|                null|        Michael|
|  30|null|                null|           Andy|
|  19|null|                null|         Justin|
|null|1955|co-founder of App...|     Steve Jobs|
|null|1955|                null|Tim Berners-Lee|
|null|1815|                null|   George Boole|
+----+----+--------------------+---------------+

In [13]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- born: long (nullable = true)
 |-- fame: string (nullable = true)
 |-- name: string (nullable = true)

In [14]:
df.registerTempTable("people")
spark.sql("select name from people").show()

+---------------+
|           name|
+---------------+
|        Michael|
|           Andy|
|         Justin|
|     Steve Jobs|
|Tim Berners-Lee|
|   George Boole|
+---------------+