In [6]:
printf <- function(...)print(sprintf(...))

In [7]:
age <- read.csv("age.tsv", sep="\t")
head(age)

  age             Clinton Trump
1 18-24 years old 56      35
2 25-29 years old 53      39
3 30-39 years old 51      40
4 40-49 years old 46      50
5 50-64 years old 44      53
6 65 and older    45      53

In [8]:
education <- read.csv("education.tsv", sep="\t")
head(education)

  education              Clinton Trump
1 High school or less    45      51
2 Some college education 43      52
3 College graduate       49      45
4 Postgraduate education 58      37

In [ ]:
gender <- read.csv("gender.tsv", sep="\t")
head(gender)

In [ ]:
ideology <- read.csv("ideology.tsv", sep="\t")
head(ideology)

In [ ]:
income <- read.csv("income.tsv", sep="\t")
head(income)

In [ ]:
orientation <- read.csv("orientation.tsv", sep="\t")
head(orientation)

In [ ]:
party <- read.csv("party.tsv", sep="\t")
head(party)

In [ ]:
race <- read.csv("race.tsv", sep="\t")
head(race)

In [ ]:
region <- read.csv("region.tsv", sep="\t")
head(region)

In [ ]:
religion <- read.csv("religion.tsv", sep="\t")
head(religion)

In [ ]:
printf("Most Clinton voters from %s",age[which.max(age$Clinton),'age'])
printf("Most Clinton voters from %s",education[which.max(education$Clinton),'education'])
printf("Most Clinton voters from %s",gender[which.max(gender$Clinton),'gender'])
printf("Most Clinton voters from %s",ideology[which.max(ideology$Clinton),'ideology'])
printf("Most Clinton voters from %s",income[which.max(income$Clinton),'income'])
printf("Most Clinton voters from %s",orientation[which.max(orientation$Clinton),'orientation'])
printf("Most Clinton voters from %s",party[which.max(party$Clinton),'party'])
printf("Most Clinton voters from %s",race[which.max(race$Clinton),'race'])
printf("Most Clinton voters from %s",region[which.max(region$Clinton),'region'])
printf("Most Clinton voters from %s",religion[which.max(religion$Clinton),'religion'])

In [ ]:
printf("Most Trump voters from %s",age[which.max(age$Trump),'age'])
printf("Most Trump voters from %s",education[which.max(education$Trump),'education'])
printf("Most Trump voters from %s",gender[which.max(gender$Trump),'gender'])
printf("Most Trump voters from %s",ideology[which.max(ideology$Trump),'ideology'])
printf("Most Trump voters from %s",income[which.max(income$Trump),'income'])
printf("Most Trump voters from %s",orientation[which.max(orientation$Trump),'orientation'])
printf("Most Trump voters from %s",party[which.max(party$Trump),'party'])
printf("Most Trump voters from %s",race[which.max(race$Trump),'race'])
printf("Most Trump voters from %s",region[which.max(region$Trump),'region'])
printf("Most Trump voters from %s",religion[which.max(religion$Trump),'religion'])